// Colors
base-color       = #303036 // dark grey
primary-color    = #cec5b7 // light brown
secondary-color  = #3ca978 // green
light-text-color = #e9e8e3

on-color         = #d8472c
success-color    = #63ac52
danger-color     = #d8472c

// tertiary-color   = #a3a3a3
// borders-color    = #f4d1d2


// Fonts

// sans-font-family  = "Helvetica Neue", Helvetica, Arial, sans-serif
// serif-font-family = Georgia, "Times New Roman", Times, serif
// mono-font-family  = Monaco, Menlo, Consolas, "Courier New", monospace

base-font-family = 'Source Sans Pro', sans-serif
base-font-size   = 12px
base-line-height = 1.4em



//
// Bootstrap overrides
// -------------------------

// Colors
$green  = #47a332
$yellow = #ecaa00
$red    = #ea4135

// Scaffolding
// -------------------------
$textColor = base-color


// Links
// -------------------------
$linkColor      = #e9e8e3
$linkColorHover = #e9e8e3


// Typography
// -------------------------
$baseFontFamily = base-font-family
$baseFontSize   = base-font-size
$baseLineHeight = base-line-height

$headingsFontWeight = headings-font-weight
$headingsColor      = primary-color

$gridColumnWidth = 83px
$gridGutterWidth =  0px